<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
<p>
  Votre lettre ouverte a été publiée: <a href="{{env.WEBSITE_URL}}/{{letter.slug}}">{{letter.title}}</a>. 
</p>
<p>
  Pour publier une mise à jour, cliquez sur le bouton ci-dessous:
</p>

<p>
  <center>
    <a href="{{env.WEBSITE_URL}}/{{letter.slug}}/update?token={{letter.token}}" style="text-decoration: none;display:inline-block;width:220px;font-size: 12pt; font-family: Arial; background: #111; color: white; padding: 10px; border-radius: 5px; box-sizing: border-box;">
      Publier une mise à jour
    </a>
  </center>
</p>

<p>
  Pour supprimer de manière permanente votre lettre ouverte, cliquez sur ce lien: <a href="{{env.WEBSITE_URL}}/{{letter.slug}}/delete?token={{letter.token}}">supprimer ma lettre ouverte</a>.
</p>

<h3>Importantes notes ☝️</h3>
<li>N'importe qui qui a ce lien peut poster une mise à jour à cette lettre ouverte, soyez vigileant avant de transférer cet email!</li>
<li>Seulement les personnes qui ont signées cette lettre ouverte et qui ont explicitement demandé d'être tenu au courant recevront une notification lorsque vous publiez une mise à jour</li>
<li>Si votre lettre ouverte est en plusieurs langues, assurez-vous de publier vos mises à jours dans les mêmes langues</li>

<p>
  Si vous aimez ce genre d'outils qui respectent votre vie privée, merci de supporter notre travail en faisant <a href="https://opencollective.com/openletter/donate">une donation à notre collectif</a>. Merci 🙏
</p>

</body>
</html>