<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h2>👋 {{ signature.name }}</h2>
<p>
  Thank you for co-signing this open letter (<a href="{{env.WEBSITE_URL}}/{{letter.slug}}">{{letter.title}}</a>). In order to confirm your signature, we need you to confirm by clicking on the link below.
</p>

<p>
  <center>
    <a href="http://localhost:3000/{{letter.slug}}/confirm_signature?token={{signature.token}}" style="text-decoration: none;display:inline-block;width:220px;font-size: 12pt; font-family: Arial; background: #111; color: white; padding: 10px; border-radius: 5px; box-sizing: border-box;">
      Confirm Signature
    </a>
  </center>
</p>

<h2>About your privacy 🔏</h2>
<p>
  We take your privacy very seriously. That's why we are not recording any private information on our server. That means that we are not even recording your email address.
  We also don't have any cookies or other trackers. We are also open source.
</p>
<p>
  If you like software that respects your privacy, please consider supporting our work by <a href="https://opencollective.com/openletter/donate">donating to our open collective</a>. Thank you 🙏
</p>
</body>
</html>