<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    {{{update.text}}}
    <br />
    <br />
    ---<br />
    Update to <a href="{{env.WEBSITE_URL}}/{{update.parentLetter.slug}}">{{update.parentLetter.title}}</a>
  </body>
</html>