<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    {{{letter.text}}}
    <br />
    <br />
    ---<br />
    Update to <a href="{{env.WEBSITE_URL}}/{{parentLetter.slug}}">{{parentLetter.title}}</a>
  </body>
</html>